<div class="row" style="margin-top: 139px; margin-bottom: 161px;">
  <div class="span4 offset4">
    <div class="well">
      <%= render :partial => "devise/shared/registration", :locals => { :resource => resource } %>
    </div>
  </div>
</div>