<% content_for :javascript_includes do %>

<% end %>

<div class="well well-small" style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 10px;">
  <%= high_chart("games_played", games_played_chart) %>
</div>
