<% content_for :javascript_includes do %>

  <script>
    head.ready(function() {

      $('#maps').isotope({
        // options
        itemSelector : '.span2',
        layoutMode : 'fitRows',
        getSortData : {
          number : function ( $elem ) {
            return parseInt( $elem.find('.plays').text(), 10 );
          }
        },
        sortBy : 'number',
        sortAscending : false
      });

    });
  </script>

<% end %>

<div id="maps-container" style="margin-top: 10px;">
  <ul id="maps" class="thumbnails">
    <% @maps.each do |map| %>
      <li class="span2" style="min-width: 170px;">
        <div class="thumbnail">
          <img src="<%= map.preview_url %>" alt="" style="height: 100px;">
          <h3><%= map.name %></h3>
          <hr style="margin: 0px 0px 10px 0px;">
          <h5>Plays: <span class="plays"><%= @map_counts[map.name] == nil ? "0" : @map_counts[map.name] %></span></h5>
          <h5>Rating: </h5>
        </div>
      </li>
    <% end %>
  </ul>
</div>

