<% content_for :title do %>
  <title>Map Editor - WarSocial</title>
<% end %>

<% content_for :javascript_includes do %>

  <script>
    head.ready(function() {

      var mapEditor = new MapEditor("mapCanvas", null);

    });
  </script>

<% end %>

<div style="height: 1130px;">
  <div id="mapCanvas">
    <canvas height="700" width="800" style="position: absolute; display: none;"></canvas>
    <canvas height="700" width="800" style="position: absolute; display: none;"></canvas>
    <canvas height="700" width="800" style="position: absolute;"></canvas>
    <canvas height="700" width="800" style="position: absolute;"></canvas>
    <canvas height="700" width="800" style="position: absolute;"></canvas>
    <canvas height="700" width="800" style="position: absolute;"></canvas>
  </div>
</div>

