<% content_for :title do %>
  <title>Map Editor - WarSocial</title>
<% end %>

<% content_for :javascript_includes do %>

  <script>
    head.ready(function() {

      var mapEditor = new MapEditor("mapCanvas", null);

    });
  </script>

<% end %>

<div style="height: 623px;">
  <div>
    <div class="well well-small" style="margin-top: 5px; margin-bottom: 0px;">
      <div style="width: 655px;">
        <span style="float:left; margin-right: 20px; margin-left: 20px;">
          <h3>Map Editor</h3>
        </span>
        <div style="float:left;">
          <div class="btn-group">
            <button class="btn">Undo</button>
            <button class="btn">Redo</button>
            <button class="btn">Erase</button>
          </div>
        </div>
        <button type="submit" class="btn btn-success" style="float: left; margin-left: 10px;">Save Map</button>
      </div>
      <div class="clearfix"></div>
      <div>
        <div id="mapCanvas" style="float: left; margin-left: 20px; margin-top: 10px; width: 645px; height: 550px;">
          <canvas height="550" width="645" style="position: absolute; display: none;"></canvas>
          <canvas height="550" width="645" style="position: absolute; display: none;"></canvas>
          <canvas height="550" width="645" style="position: absolute;"></canvas>
          <canvas height="550" width="645" style="position: absolute;"></canvas>
          <canvas height="550" width="645" style="position: absolute;"></canvas>
          <canvas height="550" width="645" style="position: absolute;"></canvas>
        </div>
        <div style="float: right; width: 475px; margin-right: 5px; margin-top: 15px;">
          <div class="well" style="background-color: white; border: 2px solid lightgray;">
            <h3>Map Settings
              <small></small>
            </h3>
            <hr>
            <form>
              <fieldset>
                <input type="text" placeholder="Name">
                <br>

              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

