<div id="game_lobby_wrapper">
    <div id="lobby_header" class="online">
        <%= link_to "Who's Online", "#", :name => "online", :class => "tab", :style => "left: 11px;" %>
        <%= link_to "Open Tables", "#", :name => "open_tables", :class => "tab", :style => "left: 28px;" %>
        <%= link_to "Running", "#", :name => "running_tables", :class => "tab", :style => "left: 46px;" %>
        <%= link_to "Create", "#", :name => "create_table", :class => "tab", :style => "left: 63px;" %>
    </div>
    <div id="lobby_content_wrapper">
        <div class="content_page" name="online">
            Online
        </div>
        <div class="content_page" name="open_tables">
          <table id="open_tables" cellpadding="5px;">
            <thead>
            <tr>
              <th>Name</th>
              <th>Players</th>
              <th>Map</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="content_page" name="running_tables">
          <table id="running_tables" cellpadding="5px;">
            <thead>
            <tr>
              <th>Name</th>
              <th>Players</th>
              <th>Map</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="content_page" name="create_table">
            Create Tables
        </div>
    </div>
</div>
