<!--Lobby-->

<div ng-controller="GameLobbyCtrl" class="modal" id="game_lobby" style="display: none;">
  <div class="modal-body">
    <div class="well">
      <div class="tab-content">
        <div class="tab-pane active" id="multi-day">
          <table class="table table-striped">
            <thead>
            <tr>
              <th><a href="" ng-click="multi_sort = 'name'; reverse=!reverse">Name</a></th>
              <th><a href="" ng-click="multi_sort = 'player_count'; reverse=!reverse">Players</a></th>
              <th><a href="" ng-click="multi_sort = 'wager'; reverse=!reverse">Wager</a></th>
              <th><a href="" ng-click="multi_sort = 'state'; reverse=!reverse">State</a></th>
              <th><a href="" ng-click="multi_sort = 'is_my_turn'; reverse=!reverse">Turn</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="multiday_game in multiday_games | orderBy:multi_sort:reverse"
                ng-click="gotoGame(multiday_game.name)"
                ng-style="gameRowStyle(multiday_game)"
                ng-class="{ seated: multiday_game.am_i_seated, turn: multiday_game.is_my_turn }">
              <td>{{multiday_game.name}}</td>
              <td>{{multiday_game.player_count + "/" + multiday_game.max_players}}</td>
              <td>{{multiday_game.wager}}</td>
              <td>{{multiday_game.state}}</td>
              <td>{{formatIsTurn(multiday_game.is_my_turn)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>