<% require 'archived/archived_player' %>
<% require 'archived/archived_game' %>

<table class="table table-hover">
  <thead>

  </thead>
  <tbody>
    <% @user.archived_games.each do |game| %>
      <tr>
        <td><%=	game.name %></td>
        <td><%=	game.wager %></td>
        <td><%=	game.name %></td>
        <td><%=	game.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>