<div class="modal" id="settings" style="display: none;">
  <div class="modal-body">
    <h2>Settings</h2>
    <div class="well" style="margin-top: 10px;">
      <div style="height: 45px; margin-top: 10px;">
      <div style="float: left; width: 250px;">
        <h3>Sounds</h3>
        <h6>takes effect immediately</h6>
      </div>
      <div id="setting-sounds" class="btn-group" data-toggle="buttons-radio" style="float: right;">
        <button class="btn <%= setting_active(@active_user, "sounds_toggle", false) %>" value="false">off</button>
        <button class="btn <%= setting_active(@active_user, "sounds_toggle", true) %>" value="true">on</button>
      </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn btn-success">Done</a>
  </div>
</div>