<!--Homepage main-->

<% content_for :title do %>
  <title>WarSocial</title>
<% end %>

<% content_for :javascript_includes do %>
  <%= render "shared/game_js_includes" %>
<% end %>

<div ng-controller="GameBoardCtrl" id="game-container">
	<div ng-controller="GameSeatsCtrl">
		<div class="game">
      		<%= render "shared/game_board2" %>

		<!--tools-->
		
		
			
			<!--Pop-up after the game is over, announcing winners-->
			
      		<div ng-controller="GameLogCtrl" id="log-window">
        		<table style="width: 100%">
          			<tbody>
          				<tr ng-repeat="message in messages" ng-switch on="message.type">
            				<td ng-switch-when="game_winner">
              					<div><b><span ng-style="colorStyle(message.username)">{{message.username}}</span> is the winner!</b></div>
            				</td>
            				<td ng-switch-when="attack">
              					<div><b><span ng-style="colorStyle(message.username)">{{message.username}}</span></b> {{message.verb}} {{message.vs}}, {{message.total}}, {{message.rolls}}</div>
            				</td>
            				<td ng-switch-when="turn_changed">
              					<div class="divider"></div>
              					<div><b><span ng-style="colorStyle(message.username)">{{message.username}}</span>'s turn</b></div>
            				</td>
            				<td ng-switch-default>
              					<div><b>Game started!</b></div>
            				</td>
          				</tr>
          			</tbody>
        		</table>
      		</div>

			<!--Chat
			
			<div ng-controller="GameChatCtrl">
        		<div id="chat-window">
          			<table style="margin-left: 5px; margin-right: 5px;">
            			<tbody>
            				<tr ng-repeat="message in messages" ng-switch on="message.type">
              					<td ng-switch-when="server" class="well well-small">
                					<span style="color: green;">{{message.text}}</span>
              					</td>
              					<td ng-switch-default>
                					<span ng-style="colorStyle(message.username)"><b>{{message.username}}</b></span>: {{message.text}}
              					</td>
            				</tr>
            			</tbody>
          			</table>
        		</div>

        		<% if user_signed_in? %>

          		<form id="form-chat" ng-submit="addChatLine(entry)" autocomplete="off">
            		<div class="label-over">
              			<label for="entry">Type your message here...</label>
              			<input ng-model="entry" id="entry" class="input" type="text" name="entry">
            		</div>
          		</form>
        		<% end %>
      		</div>--><!--/Chat-->
		</div>
	</div><!--/GameSeatsCtrl-->
	<div class="navbar navbar-inverse">
				<div class="container">
					<ul class="nav pull-right">
						<li>
							<a href="#">
								<img src="assets/chat.png"/>
							</a>
						</li>
					</ul>
	       			<ul class="nav pull-right">
	           			<li>
	               			<a href="#">
	                 			<img src="assets/9x9.png"/>
	                 		</a>
	         				<ul>
								<li>
									<div><div class="icon"><i class="icon-cog icon-white"></i></div>{{game_wager}}</div>
									<div><div class="icon"><i class="icon-home icon-white"></i></div>{{game_name}}</div>
								</li>
								<li>
									<button id="dice_visible" type="button" class="btn btn-info" data-toggle="button"><i style="margin-top: 2px;" class="icon-eye-open icon-white"></i></button>
								</li>
								<li>
									<a id="game-forfeit" class="btn btn-danger" ng-click="flag()" ng-show="is_game_started() && am_i_seated()">
				            			<i class="icon-flag icon-white" style="margin-top: 2px;"></i>
				          			</a>
								</li>
								<li><a href="#">Game Data</a></li>
	                 		</ul><!-- /Sub menu -->
	            		</li>
	     			</ul>
				</div><!--/.container-->
			</div><!--/.navbar-inverse-->
</div><!--/GameBoardCtrl-->
