
<div class="row" style="margin-top: 139px; margin-bottom: 130px;">
  <div class="span4 offset4">
    <div class="well">
      <%= render :partial => "devise/shared/login", :locals => { :resource => resource }  %>
    </div>
  </div>
</div>

