<% content_for :javascript_includes do %>

<% end %>

<div id="controls">
  <textarea id="gridCodeDisplay" rows="4" cols="85" readonly="readonly" style="display:none"></textarea>
</div>
<div id="mapCanvas">
  <canvas height="1500" width="1000" style="position: absolute; display: none;"></canvas>
  <canvas height="1500" width="1000" style="position: absolute; display: none;"></canvas>
  <canvas height="1500" width="1000" style="position: absolute;"></canvas>
  <canvas height="1500" width="1000" style="position: absolute;"></canvas>
  <canvas height="1500" width="1000" style="position: absolute;"></canvas>
  <canvas height="1500" width="1000" style="position: absolute;"></canvas>
</div>

