<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Your turn has started, <%= @user.username %></h1>
<p>
You can begin your turn here: <%= @url %>.
</p>
</body>
</html>