/*
 *= require_self
 *= require forem
 *= require home
 *= require leader_board
 *= require pusher
 *= require "forem/twist/style"
 *= require "registration_popup"
*/

$default-text: #444;

a {
  color: #0074FF;
}

form {
  label {
    display: block;
    font-size: 80%;
    padding: 5px;
    abbr {
      display: none;
    }
  }
  input, textarea {
    padding: .5em;
    font-size: 110%;
  }
}

.login, .register { padding-top: 0px; padding-bottom: 0px; margin-top: 5px; }
.hidden { display:none; }
